# E01 Verification Report

- **Path:** `/home/sansforensics/cases/m57/charlie-2009-12-11.E01`
- **Size:** 3.7G
- **SHA256:** 7f4ae8676e28ed76034392c68831a0948b4b40788070ad2ed660f32b045e2b5b
